/* common shared style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* common primary style */

.common-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* header / banner style  */

.header {
    background: rgba(229, 84, 115, 0.10);
}

.banner-content {
    max-width: 500px;
}

.banner {
    padding: 100px 100px 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pickture {
    width: 520px;
}

.banner-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 0px;
}