/* ==========common shared style========== */
*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* ==========common primary style========== */
.section-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.common-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin-top: 50px;
}

/* ========header / banner style========  */

.header {
    background: rgba(229, 84, 115, 0.10);
}

.banner-content {
    max-width: 500px;
}

.banner {
    padding: 100px 100px 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pickture {
    width: 520px;
}

.banner-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 0px;
}

/* ==========main section style========== */

.main-first {
    max-width: 1140px;
    margin: 0 auto;
}

/* ==========Featured Flowers style======== */

.featured-header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-top: 100px;
}
 
/* ====Featured Flowers image style section===== */

.flower-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.flower-size {
    width: 270px;
}

.image-bg1 {
    background: url(<path-to-image>), #d3d3d3 50% / cover no-repeat;
    border-top: 80px solid #d3d3d3;
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;
}

.image-bg2 {
    background: #0597a026;
    border-top: 80px solid #cbfcff26;
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;
}

.image-bg3 {
    background: #477d1126;
    border-top: 80px solid #e2ffc526;
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;
}

/* =====Flower Tree style section===== */

.tree-name {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    margin: -26px 31px 37px 32px;
}

.tree-name .flower-name {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

.services-section {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}


/* ========services stylle section======= */

.services-container {
    display: flex;
    justify-content: space-between;
    padding: 56px 99px 20px 100px;
}

.services-title {
    display: flex;
    justify-content: space-between;
    padding: 0px 59px 31px 20px;
}

/* ======hot deal section style======= */

.hot-deal-container {
    background-color: rgba(229, 84, 115, 0.05);
    margin-top: 90px;
}

.hot-deal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 190px;
    text-align: center;

}

#hot-title {
    margin-bottom: 0px;
}


/* ==========this is Instagram style section======= */

.rec-img-siz {
    width: 250px;
    border-radius: 20px;
}

.Rectangle-flower {
    display: flex;
    justify-content: center;
    justify-content: space-between;

}

/* ========== Latest Deals style=========  */

.deal-section{
    margin-top: 100px;
    background-color: aliceblue;
    padding: 50px 0px 72px 0px;
}

.deals-container {
    text-align: center;
}

.input-item {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.contact input[type="email"] {
    padding: 18px 35px;
    color: #757575;
    font-size: 16px;
    border: 1px solid #E55473;
    border-radius: 5px;
    width: 100%;
}



/* ==========This is footer style============== */



footer {
    margin-top: 100px;
    width: 100%;
    height: 390px;
}

.footer-container {
    text-align: center;
    padding-top: 117px;
}